<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/head'); %>
    <title>Login</title>
    
  </head>

  <body>
    <nav style='font-size: 1.2em; font-weight: 500;' class='navbar navbar-expand-lg navbar-light bg-light'>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbar'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbar'>
            <div class='navbar-nav'>
            
                <a class='nav-item nav-link' id='login' href='/login'>Login</a>
                <a class='nav-item nav-link' id='signUp' href='/signup'>Sign Up</a>

            </div>
        </div>
    </nav>
    <div class='container'>
      <form method='POST' id="loginForm" action="/login-user">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" name='email' id="email" placeholder="Email" required>
          </div>
    
          <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" name='password' id="password" placeholder="Password" required>
          </div>
    
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary"> Log In </button>
          </div>
        </div>
      </form>
    </div>
   
    <%- include('../views/bottom'); %>
    </body>